altgraph==0.17.4
et_xmlfile==2.0.0
macholib==1.16.3
numpy==2.2.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==75.6.0
six==1.17.0
tkinterdnd2==0.4.2
tzdata==2024.2
